.porta {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    align-items: center;
    padding: 15px;
    flex-grow: 1;
}

.numero {
    font-size: 3rem;
}

.area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    margin: 5px;

}

.estrutura {
display: flex;
    flex-grow: 1;
    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
    width: 90%
}

.chao {
    width:100%;
    height: 10px;
    background-color: #ddd;
}

.macaneta {
    display: flex;
    align-self: self-start;
    position: absolute;
    top: calc(.45 * var(--area-porta-altura));
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: brown;
}


.selecionada {

    border-left: 5px solid yellow;
    border-top: 5px solid yellow;
    border-right: 5px solid yellow;

}

.selecionada .numero {

    color: yellow;

}

.selecionada .macaneta {
    background-color: yellow;
}